
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
@font-face {
  font-family: "flood";
  src: url("./fonts/Flood.ttf");
}
* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  display: grid;
}

.blu-hd_mod {
  font-size: 1.5vw;
  width: 13vw;
  height: 2.5rem;
  position: absolute;
  background-color: #354463;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

header {
  margin: 2em;
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  grid-row-gap: 2em;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  color: #354463;
}
.header-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.header-left > nav {
  line-height: 1.2rem;
}

header .head {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1rem;
}

.button {
  cursor: pointer;
  color: #354463;
  width: 100%;
  background-color: #c1f7d5;
  padding: 0.5rem 0.7rem;
  font-size: 1.1rem;
  border: 0 solid transparent;
  border-radius: 1em;
  font-weight: 800;
  text-align: center;
}

/* ISSUE */
#issue {
  display: grid;
  background-image: url("home/annie-spratt-135307-unsplash.jpeg");
  background-position-x: 40%;
  background-position-y: 87%;
  background-size: 300% auto;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
}
#issue > div {
  margin: 10%;
  margin-bottom: 15%;
}
.the-issue {
  background-color: #ffffff;
  grid-row: 2/3;
  text-align: center;
  padding: 6%;
  color: #354463;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 6fr 4fr;
  justify-items: center;
  align-items: center;
}
.the-issue .the-issue-head {
  top: -11%;
  left: 25%;
  width: 40vw;
  font-size: 4vw;
}

.the-issue-content {
  grid-area: 2/1/3/2;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.7rem;
}
.the-issue-link {
  grid-area: 3/1/4/2;
  font-size: 0.75rem;
  padding: 0 1rem;
}
.hashtag {
  font-family: "flood", sans-serif;
  line-height: 2.5rem;
  font-size: 2.5rem;
  width: 50%;
  color: white;
}

/* ACTION */

#action {
  width: auto;
  position: relative;
  background-color: #c1f7d5;
  color: #354463;
  font-size: 0.85rem;
}
.action-head {
  left: 30%;
  top: -8.5%;
  width: 40vw;
  font-size: 4vw;
}
#action h3 {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  font-size: 1.1rem;
}
.action-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  grid-gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/* WHAT WE DO */

#what-we-do {
  height: 230vh;
  font-family: "Open Sans", sans-serif;
  background-color: #354463;
  display: grid;
  justify-items: center;
}
#what-we-do > div {
  width: 80%;
}
#what-we-do .head {
  font-size: 1.2vw;
  height: 2.5rem;
  background-color: white;
  color: #354463;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  font-size: 4vw;
}
#what-we-do .header {
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  font-size: 130%;
  padding-top: 12%;
}
#what-we-do .head-content {
  font-weight: 700;
  color: white;
  text-align: center;
  align-self: ;
}
.what-we-do_cont {
  height: 170vh;
  color: #354463;
  display: grid;
  grid-row-gap: 5em;
  font-size: 90%;
  padding-top: 0;
}
.what-we-do_cont > div {
  position: relative;
  background-color: white;
}
.what-we-do_img {
  width: 80%;
  position: absolute;
  top: -15%;
}
.what-we-do_card {
  display: grid;
  grid-auto-rows: 40% 10% 28% 22%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5%;
}
.what-we-do_card h3 {
  grid-area: 2/1/3/2;
}
.what-we-do_btn {
  width: 40%;
}
.what-we-do_card p {
  grid-area: 3/1/4/2;
  text-align: center;
}
.what-we-do_card a {
  grid-area: 4/1/5/2;
}

/* FACT */
.fact {
  height: 150vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  background-image: url("./home/did-you-know-background.jpeg");
  background-size: auto 129%;
  background-position: 45% 100%;
  background-repeat: no-repeat;
}
.fact > div {
  width: 80%;
}
.fact_header {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 2fr;
  justify-content: space-around;
}
.fact_header div {
  grid-row: 2/3;
  align-items: center;
  font-family: "flood", sans-serif;
  line-height: 2.5rem;
  font-size: 2.5rem;
  width: 70%;
  color: white;
}
.fact_button {
  grid-row: 3/4;
  width: 50%;
  font-size: 100%;
  font-weight: 700;
}
.fact_cont {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 5%;
}
.fact_cont_head {
  justify-self: center;
  position: absolute;
  left: 26%;
  top: -3%;
  font-size: 90%;
  width: 40vw;
  font-size: 4vw;
}
.fact_card {
  height: 89%;
  color: #354463;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 3fr;
  justify-items: center;
  align-items: center;
  padding: 0% 7%;
}
.fact_card h3 {
  grid-area: 1/1/2/2;
  justify-self: left;
  font-size: 130%;
  align-self: end;
}
.fact_card p {
  grid-area: 2/1/3/2;
  font-size: 85%;
}
.fact_twt {
  grid-area: 1/2/2/3;
  background-color: #c1f7d5;
  padding: 15%;
  border-radius: 100%;
  align-self: end;
}
.fact_fb {
  grid-area: 2/2/3/3;
  background-color: #c1f7d5;
  padding: 15% 22%;
  border-radius: 100%;
}

/* STORIES */
.stories {
  width: 100%;
  height: 125vh;
  display: grid;
  grid-template-rows: 1fr 5fr 5fr 1fr;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5%;
  grid-gap: 5%;
}
.stories > * {
  width: 80%;
}
.stories_hd {
  position: relative;
  margin: 0;
  top: 125%;
  width: 40vw;
  font-size: 4vw;
}
.stories_cont {
  background-color: #354463;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.stories_cont > p {
  width: 70%;
}
.stories_words {
  font-size: 120%;
  font-weight: 600;
}
.stories_name {
  font-size: 65%;
  padding-bottom: 5%;
}
.stories_btn {
  width: 35%;
  height: 1.7rem;
  font-size: 120%;
  font-weight: 700;
}

/* EVENTS */
.events {
  height: 250vh;
  display: grid;
  grid-template-rows: minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);
  justify-items: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #354463;
}
.events > * {
  width: 80%;
  padding-bottom: 20%;
}
.events_header {
  font-family: "flood", sans-serif;
  line-height: 2.5rem;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 0;
}
.events_card, .news_card{
  display: grid;
  height: 100%;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.card-hdr {
  position: relative;
  top: 70%;
  background-color: white;
  color: #354463;
  width: 40vw;
  font-size: 4vw;
}
.events_img,.news_img{
  width: 100%;
}
.card-btn {
  width: 40%;
  font-weight: 700;
}
.cont-head {
  width: 95%;
  color: white;
  font-size: 130%;
  font-weight: 700;
}
.card-cont {
  color: white;
  font-size: 80%;
  width: 90%;
}

/* SUBSCRIBE */
.subs {
  background-color: #c1f7d5;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 3fr 2fr;
  font-family: "Open Sans", sans-serif;
  padding: 8%;
}
.subs_btn {
  background-color: #354463;
  grid-area: 2/2/3/3;
  color: #c1f7d5 ;
  align-self: center;
  justify-self: center;
  height: 2.5rem;
  font-size: 100%;
  border-radius: 1.5rem;
  width: 95%;
}
.subs_input {
  grid-area: 2/1/3/2;
  width: 85%;
  color: #354463;
  border: none;
  background-color: white; 
  font-size: 80%;
  font-weight: 200;
  align-self: center;
  justify-self: start;
  padding: 0.4rem 0.7rem;
  border-radius: 1.5rem;
  height: 1.5rem;
}
::placeholder {
  color: #354463;
  font-size: 0.8rem
}
.subs_txt {
  grid-area: 1/1/2/3; 
  color: #354463;
  font-weight: 700; 
  font-size: 126%;
  text-align: left;
  margin-bottom: 1rem;
}

/* FOOTER */
footer {
  height: 120%;
  margin: 10%;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 2fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5% 10%;
  font-family: "Open Sans", sans-serif;
  color: #354463;
  font-size: 80%;
  justify-items: center;
}
footer .head {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
footer .hashtag {
  color: #354463;
  grid-area: 3/2/4/3;
  text-align: right;
  width: 100%;
}

/* TABLET VIEW */

@media screen and (min-width: 500px) and (max-width: 900px) {
  .blu-hd_mod_tab {
    position: absolute;
    height: 2.5rem;
    font-size: 1rem;
    width: 10rem;
  }

  header {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
  }
  .header-left {
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr;
    grid-row-gap: 1rem;
  }
  header .head {
    line-height: 1.2em;
    font-size: 1.5rem;
  }
  header .nav-top {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .nav-top > div {
    flex-grow: 1;
  }
  header > .button {
    width: 1rem;
    border-radius: 2.5rem;
  }
  header > :nth-child(even) {
    font-size: 1rem;
  }

  /* ISSUE */
  #issue {
    background-size: auto 140%;
    background-position-x: 18%;
    grid-template-rows: 3fr 8fr;
    grid-gap: 12vw;
    align-items: center;
    justify-items: center;
  }
  #issue div {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 80%;
  }
  #issue > .hashtag {
    width: 30%;
    padding-right: 50%;
    font-size: 6vw;
  }
  .the-issue {
    height: auto;
    text-align: left;
    justify-content: flex-end;
  }
  .the-issue-content {
    padding: 0;
    font-weight: 700;
    font-size: 5vw;
    line-height: 6vw;
  }
  .the-issue-link > a {
    padding-top: 2vw;
  }
  #issue .the-issue-head {
    position: absolute;
    height: 2.5rem;
    font-size: 1rem;
    width: 10rem;
    left: 10%;
  }
  .hashtag {
    font-size: 300%;
    line-height: 100%;
  }

  /* ACTION */
  #action {
    padding: 0;
    grid-gap: 0;
    height: 33vh;
  }
  #action h3 {
    font-size: 3vw;
    line-height: 4vw;
  }
  #action p {
    font-size: 2vw;
  }
  .action-content {
    padding: 0;
    grid-gap: 0;
    height: 100%;
    align-content: center;
    justify-items: center;
    grid-gap: 2rem;
  }
  .action-content div {
    height: 44%;
    width: 66%;
  }
  .action-head {
    left: 40%;
  }

  /* WHAT WE DO */
  #what-we-do {
    grid-template-rows: 1fr 3.5fr;
    height: auto;
  }
  .what-we-do_cont {
    grid-row-gap: 0;
    height: 110vh;
    justify-items: center;
    align-items: center;
  }
  #what-we-do .header {
    height: 30vh;
    justify-items: left;
    padding-top: 5vh;
  }

  #what-we-do .head-content {
    text-align: left;
    font-size: 160%;
  }
  #what-we-do .head {
    width: 25%;
    font-size: 70%;
  }
  .what-we-do_card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 16rem;
    padding-top: 0;
    justify-items: end;
    margin-top: 6rem;
  }
  .what-we-do_img {
    grid-area: 1/1/3/2;
    width: 100%;
    top: -15%;
  }
  .what-we-do_card h3 {
    grid-area: 1/2/2/3;
    font-size: 140%;
    padding: 13%;
  }
  .what-we-do_card p {
    grid-area: 2/2/4/3;
    padding: 13%;
    padding-right: 0;
    text-align: left;
    padding-top: 0;
    font-size: 120%;
  }
  .what-we-do_card a {
    grid-area: 2/1/4/2;
    font-weight: 700;
    width: 53%;
    margin-top: 2.5rem;
  }

  /* FACT */
  .fact {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    padding: 8%;
    height: 65vh;
    background-size: auto 145%;
    background-position: 70% 0%;
  }
  .fact_header {
    grid-template-rows: 1fr 1fr 1fr;
    align-items: start;
  }
  .fact_header div {
    grid-area: 1/1/2/2;
  }
  .fact_header a {
    grid-area: 2/1/3/2;
    width: 85%;
    font-size: 120%;
  }
  .fact_cont {
    margin: 0;
  }
  .fact_cont_head {
    left: 8%;
    width: 16vw;
    font-size: 1.5vw;
  }
  .fact_card {
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 80%;
    grid-column-gap: 10%;
    text-align: left;
  }
  .fact_card h3 {
    font-size: 210%;
  }
  .fact_card p {
    font-size: 95%;
  }

  /* STORIES */
  .stories {
    width: 83.33%;
    justify-self: center;
    grid-template-rows: 1fr 5fr 2.5fr 0.5fr 1fr;
    grid-gap: 0;
    height: auto;
    justify-items: auto;
    padding: 0;
  }
  .stories > * {
    width: 90%;
  }
  .stories_hd {
    width: 28%;
    top: 76%;
    left: -25%;
    font-size: 105%;
  }
  .stories_img {
    justify-self: left;
  }
  .stories_cont {
    justify-self: right;
    position: relative;
    top: -30%;
    text-align: left;
    font-size: 120%;
    justify-content: center;
    grid-area: 3/1/5/2;
  }
  .stories_words {
    width: 85%;
    line-height: 1.9rem;
    font-weight: 700;
  }
  .stories_name {
    padding-top: 5%;
    padding-bottom: 0;
  }
  .stories_btn {
    grid-area: 4/1/5/2;
    width: 20%;
    justify-self: start;
    margin-left: 10%;
    font-size: 100%;
  }

  /* EVENTS */
  .events {
    height: 120vh;
    display: block;
    position: relative;
  }
  .events_header {
    margin: 8%;
    text-align: left;
    font-size: 6vw;
  }
  .events_card, .news_card {
    height: auto;
    display: block;
    width: 37.5%;
    text-align: left;
    padding: 0%;
    margin-left: 55%;
    margin-top: 10%;
  }
  .events_card > * {
    margin: 8% 0;
    font-size: 100%;
  }
  .news_card {
    height: auto;
    display: block;
    width: 37.5%;
    text-align: left;
    padding: 0%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .news_card > * {
    margin: 8% 0;
    font-size: 100%;
  }
  .events_img {
    position: absolute;
    width: 37.5%;
    left: 10%;
    top: 12.9%;
  }
  .news_img {
    position: absolute;
    width: 37.5%;
    left: 55%;
    top: 52.6%;
  }
  .card-hdr {
    top: 0;
    width: 20vw;
  }
  .cont-head {
    font-size: 4vw;
  }

  /* SUBSCRIBE */
  .subs {
    grid-template-columns: 3fr 1fr;
  }
  .subs_input {
    text-align: left;
    font-size: 95%;
    border-radius: 1.3rem;
    padding-top: 0.7rem;
    padding-left: 5%;
  }
  .subs_txt {
    grid-area: 1/1/2/2;
    font-size: 135%;
  }
  .subs_btn {
    font-size: 120%;
  }

  /* FOOTER */
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0;
    margin-top: 0;
  }
  footer .head {
    font-size: 160%;
    align-self: center;
  }
  footer .contact {
    align-self: center;
  }
  footer .follow {
    align-self: center;
  }
  footer .learn {
    grid-area: 2/2/3/3;
  }
  footer .hashtag {
    grid-area: 2/3/3/4;
    text-align: left;
    font-size: 350%;
  }
}

@media screen and (min-width: 900px) {
  .blu-hd_mod {
    height: 2rem;
  }
  header {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 6.5fr 2fr;
  } 
  .header-left {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: space-around;
  }
  .header-right {
    justify-self: baseline;
  }
  header .head {
    font-size: 180%;
    line-height: 1.7rem;
  }
  .nav-top {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .nav-top > * {
    font-size: 140%;
  } 
  .header_button {
    width: 110%;
    height: 2.5rem;
    font-size: 155%;
    border-radius: 1.5rem;
    align-self: start;
  }

  /* THE ISSUE */
  #issue {
    height: 46vw;
    display: flex;
    background-image: url("./home/annie-spratt-135307-unsplash@3x.png");
    background-size: 100% auto;
    align-items: center;
    justify-items: space-around;
  }
  #issue > div {
    margin: 9rem;
    margin-right: 8vw;
    width: 30%;
    height: 50%;
  }
  .the-issue {
    grid-area: 1/1/2/2;
    justify-self: end;
    height: 200px;
    padding: 3% ;
    text-align: left;
    justify-items: start;
  }
  .the-issue .the-issue-head {
    top: -4.5%;
    left: 9%;
    width: 10vw;
    font-size: 1.2vw;
  }
  .the-issue-content {
    font-size: 3vw;
  }
  #issue .hashtag {
    font-size: 400%;
    line-height: 4rem;
    padding-right: 0;
    margin: 0;
    align-self: start;
    padding-top: 9%; 
  }
  .the-issue-link {
    font-size: 1vw;
    display: flex;
    align-items: center;
  }

  /* ACTION */
  .action-head {
    left: 45%;
    top: -9%;
    height: 2.5rem;
    font-size: 1.4vw;
    width: 10vw;
    font-size: 1.2vw;
  }
  #action h3 {
    font-size: 2.2vw;
  }
  .action-content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    font-size: 2vw;
    justify-items: center;
    align-items: start;
  }
  .action-content > div {
    width: 78%;
  }

  /* WHAT WE DO */
  #what-we-do {
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #what-we-do > div {
    width: 80%;
  }
  #what-we-do > .header {
    padding: 4rem;
    grid-area: 1/1/2/4;
    display: block;
    padding-bottom: 8rem;
  }
  #what-we-do .head {
    width: 10vw;
    font-size: 1.2vw;
  } 
  #what-we-do .head-content {
    font-size: 2rem;
    text-align: left;
    padding-top: 2rem;
  }
  .what-we-do_cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    font-size: 100%;
  }
  .what-we-do_cont tree {
    grid-area: 2/1/3/2;
  }
  .what-we-do_card {
    position: relative;
    display: block;
    width: 22%;
    padding: 0 3%;
  }
  .what-we-do_card > * {
    text-align: left;
    padding-bottom: 1rem;
  }
  .what-we-do_img {
    position: relative;
    width: 130%;
    margin-top: -2rem;
  }
  .what-we-do_card > p {
    text-align: left;
    font-size: 85%;
    padding-bottom: 2rem;
  }
  .what-we-do_btn {
    position: relative;
    padding: 4% 8%;
    font-size: 100%;
   font-weight: 700;
   border-radius: 1.5rem;
  }
  .what-we-do_card h3 {
    font-size: 150%;
  }

  /* FACT */
  .fact {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    background-image: url("./home/did-you-know-background@3x.png");
    background-size: cover;
    background-position-y: 50%;
    height: auto;
  }
  .fact_header {
    display: block;
    width: 100%;
    margin: 15%;
  }
  .fact_header div {
    padding-bottom: 3rem;
    font-size: 5.5vw;
    line-height: 6vw;
    width: 70%;
  }
  .fact_button {
    font-size: 150%;
    padding: 0.7rem 1.5rem;
  }
  .fact_cont {
    align-self: center;
  }
  .fact_cont {
    margin: 10% 0;
    align-self: auto;
    align-items: center;
    grid-row-gap: 4vw;
  }
  .fact_card {
    grid-template-rows: 1fr 1fr;
    height: 13vw;
  }
  .fact_cont_head {
    left: 10%;
    top: -1.4vw;
    width: 12vw;
    font-size: 1.2vw;
    height: 3vw;
  }
  .fact_card h3 {
    font-size: 3vw;
  }
  .fact_card p {
    align-self: start;
    font-size: 1.2vw;
  }
  .fact_twt {
    width: 2vw;
  }
  .fact_fb {
    width: 1vw;
  }

  /* STORIES */
  .stories {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-gap: 0;
    height: auto;
    position: relative;
    padding: 0;
  }
  .stories_img {
    grid-area: 2/2/5/4;
    width: 55.5%;
    justify-self: end;
  }
  .stories_cont {
    width: 100%;
    grid-area: 3/2/4/3;
    text-align: left;
    font-size: 1.5vw;
  }
  .stories_hd {
    grid-area: 1/3/2/4;
    top: 81%;
    left: -36%;
    width: 28%;
    font-size: 1rem;
    height: 2.4rem;
  }
  .stories_btn {
    grid-area: 4/2/5/3;
    align-self: end;
    justify-self: start;
    width: 25%;
    font-size: 1.6vw;
  }

  /* EVENTS */
  .events {
    height: auto;
    position: relative;
    grid-template-rows: 20rem 45rem 45rem;
    align-items: center;
  }
  .events > * {
    padding: 0;
    padding-bottom: 15%;
  }
  .events_header {
    font-size: 6vw;
    line-height: 4rem;
    text-align: left;
    padding: 0;
  }
  .events_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: 68%;
  }
  .events_card > .cont-head, .events_card > p {
    align-self: flex-end;
  }
  .events_card > .card-btn, .events_card > .card-hdr {
    margin-left: 4rem;
  }
  .news_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: 68%;
  }
  .events_img {
    width: 50%;
    order: -1; 
    padding-bottom: 11vw;
  }
  .news_img {
    width: 50%;
    order: 1;
    align-self: flex-end;
  }
  .events_card > .card-hdr {
    position: static;
    width: 14vw;
    font-size: 1.7vw;
  }
  .news_card > .card-hdr {
    position: static;
    width: 14vw;
    font-size: 1.7vw;
  }
  .events_card > div , .news_card > div {
    width: 39%;
  }
  .events_card > p, .news_card > p {
    font-size: 100%;
    width: 39%;
  }
  .cont-head {
    font-size: 220%;
  }
  .events_card > .card-btn , .news_card > .card-btn {
    width: 14%;
  }

  /* SUBSCRIBE */
  .subs {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 4% 10%; 
  }
  .subs_txt {
    grid-area: 1/1/2/2;
    margin: 0;
    font-size: 150%;
  }
  .subs_input {
    grid-area: 1/2/2/3;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 100%;
  }
  .subs_btn {
    grid-area: 1/3/2/4;
  }

  /* FOOTER */
  footer {
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 2fr 1fr;
    padding: 5% 8%;
    padding-bottom: 0;
    grid-gap: 0;
    margin: 0 auto;
  }
  footer .head {
    grid-area: 1/1/2/2;
    justify-self: start;
  }
  footer .contact {
    grid-area: 1/2/2/3;
    justify-self: end;
  }
  footer .follow {
    grid-area: 1/3/2/4;
  }
  footer .learn {
    grid-area: 1/4/2/5;
    justify-self: start;
  }
  footer .hashtag {
    grid-area: 1/5/2/6;
  }

}