@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
@font-face {
  font-family: "flood";
  src: url("./fonts/Flood.ttf");
}
* {
  margin: 0;
  padding: 0;
}

/* MOBILE VIEW */

#container {
  /* width: 80%; */
  font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    color: #354463;
    padding: 1rem;
    font-weight: 700;
    text-align: center
}

/* CONTENT */
main {
    background-color: rgb(143, 166, 187);
}
main > div {
    width: 80%;
    color: white;
}
.content_header {
  font-family: "flood", sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  text-align: center;
  margin: auto;
}
.content_cont {
    width: 80%;
    background-color: #354463;
    margin: auto;
}
.content_cont > div {
    width: 80%;
    margin: auto;
    padding-top: 1rem;
}
.info-header {
  line-height: 3rem;
  font-weight: 700;
  font-size: 1.1rem
}
.p-info > div, .card-info > div {
  /* margin-top: 1rem; */
}
label {
  position: relative;
  top: -1.5rem;
  font-size: 0.8rem;
  left: 0.2rem;
  color: #888888;
  transition-property: left, top, color;
  transition-duration: 0.5s;
  /* cursor: pointer; */
  /* animation-name: label-anim; 
  animation-duration: 3s; */
}
/* label:hover {
left: 0rem;
top: 0rem;
} */
/* input:focus ~ label {
  top: 0rem;
  left: 0rem;
  color: white;
} */
/* @keyframes label-anim {
  0% {left: -11.5rem}
  25% {left: -10rem}
  50% {left: -8rem;color:white}
  100% {left: -11.5rem}
} */

input {
  /* width: auto; */
  z-index: 1;
  padding: 0.2rem;
  border: none;
  border-bottom: solid 1.5px #c1f7d5;
  /* border-radius: 1rem; */
  background-color: #354463;
  /* pointer-events: none; */
  /* cursor: text; */
}
input:focus ~ label
/* input:valid ~ label */{
  left: 0rem;
  top: -2.5rem;
  font-size: 0.7rem;
  color: white;
}

/* no input box highlight when focussed */
input:focus{
  outline: none;
}
.name {
  display: flex;
  justify-content: space-between;
}
.name > div {
  width: 45%;
}

/* FOOTER */
footer {
    /* height: 120%; */
    margin: 10%;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 2fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14% 10%;
    font-family: "Open Sans", sans-serif;
    color: #354463;
    font-size: 70%;
    justify-items: start;
  }
  footer .head {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
  }
  footer .hashtag {
    color: #354463;
    grid-area: 3/2/4/3;
    text-align: right;
    width: 100%;
  }
  .hashtag {
    font-family: "flood", sans-serif;
    line-height: 2.5rem;
    font-size: 2rem;
    width: 50%;
    color: white;
  }
  
