@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
@font-face {
  font-family: "flood";
  src: url("./fonts/Flood.ttf");
}
* {
  margin: 0;
  padding: 0;
}

/* MOBILE VIEW */

#container {
  font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    color: #354463;
    padding: 1rem;
    font-weight: 700;
    text-align: center
}

/* CONTENT */
main {
    background-color: #354463;
    padding-bottom: 2rem;
    background-image: url(./donation/annie-spratt-427340-unsplash.png); 
    background-size: cover;
    background-position-x: 50%;
  }
main > div {
    width: 80%;
    color: white;
}
.content_header {
  font-family: "flood", sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  text-align: center;
  margin: auto;
  padding: 1rem 0 1.5rem 0;
}
.form {
  position: relative;
}
.content_cont {
    width: 84%;
    background-color: #354463;
    margin: auto;
    display: grid;
    grid-template-rows: 3fr 2fr 3fr;
}
.content_cont > div {
    width: 80%;
    margin: auto;
}
.info-header {
  line-height: 3rem;
  font-weight: 700;
  font-size: 1.1rem
}
.p-info {
  padding-top: 1rem;
}
label {
  position: absolute;
  top: 0.3rem;
  font-size: 0.8rem;
  left: 0.2rem;
  color: #888888;
  transition-property: left, top, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  pointer-events: none;
}
input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  border-bottom: solid 1.5px #c1f7d5;
  background-color: #354463;
  margin-bottom: 1rem;
  color: white;
}
input:focus{
  outline: none;
}
.half {
  width: 90%;
}
input:focus ~ label,
input:valid ~ label
{
  left: 0rem;
  top: -0.9rem;
  font-size: 0.7rem;
  color: white;
  text-transform: uppercase;
}
.name {
  display: flex;
  justify-content: space-between;
}
.name > div {
  width: 46.5%;
}
.addr {
  display: flex;
  justify-content: space-between;
}
.addr  .city{
  width: 46.5%;
}
.addr .state {
  width: 19.75%;
}
.addr .zip {
  width: 19.75%;
}
.card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.exp {
  display: flex;
  width: 46.5%;
  height: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.code {
  width: 46.5%;
  display: flex;
  flex-wrap: wrap;
}
.code p {
  font-size: 0.7rem;
  padding-bottom: 0.52rem;
}
.exp p {
  font-size: 0.7rem;
}
.exp_txt {
  width: 40%;
}
.button {
  cursor: pointer;
  color: #354463;
  width: 100%;
  background-color: #c1f7d5;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  border: 0 solid transparent;
  border-radius: 2rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.8rem;
  margin: 1.5rem 0;
}
.confirm-payment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.confirm-payment .text {
  font-weight: 700;
}

/* FOOTER */
footer {
    margin: 10%;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 2fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14% 10%;
    font-family: "Open Sans", sans-serif;
    color: #354463;
    font-size: 70%;
    justify-items: start;
  }
  footer .head {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
  }
  footer .hashtag {
    color: #354463;
    grid-area: 3/2/4/3;
    text-align: right;
    width: 100%;
  }
  .hashtag {
    font-family: "flood", sans-serif;
    line-height: 2.5rem;
    font-size: 2rem;
    width: 50%;
    color: white;
  }
  
/* TABLET VIEW */
@media screen and (min-width: 450px) {
  * {
    font-size: 110%;
  }

  /* HEADER */
  header {
    font-size: 130%
  }

  /* CONTENT */
  .content_header {
    font-size: 3rem;
    line-height: 3rem;
    padding: 3rem 0;
  }
  .content_cont {
    grid-template-rows: 3fr 2fr 2fr;
  }
  .info-header {
    font-size: 100%;
    padding-bottom: 1rem;
  }
  .exp_txt {
    width: 35%;
  }
  .exp p, .code p {
    font-size: 90%;
    padding-right: 10%;
  }
  .exp, .code {
    font-size: 70%;
    height: auto;
  }
  label {
    font-size: 1.3rem;
    top: 0.9rem;
  }
  input {
    margin-bottom: 2rem;
  }
  input:focus ~ label
  ,input:valid ~ label {
    top: -1.7rem;
    font-size: 1.1rem;
  }
  .code p {
    padding-bottom: 0;
  }
  .confirm-payment {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
  .button {
    width: 15rem;
    order: 1;
    margin-top: 3.5rem;
    font-size: 90%;
    padding: 1rem 0.7rem
  }
  .home {
    margin-top: 4.5rem;
    font-size: 70%;
  }
  .text {
    font-size: 115%;
  }

  /* FOOTER */
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    margin: 3rem 2rem;
  }
  footer .head {
    font-size: 160%;
    align-self: center;
  }
  footer .contact {
    align-self: center;
    font-size: 80%;
    justify-self: center;
  }
  footer .follow {
    align-self: center;
    font-size: 80%;
    justify-self: start;
  }
  footer .learn {
    grid-area: 2/2/3/3;
    font-size: 80%;
    justify-self: center;
  }
  footer .hashtag {
    grid-area: 2/3/3/4;
    text-align: left;
    font-size: 350%;
  }
}

/* DESKTOP VIEW */
@media screen and (min-width: 900px) {

  * {
    font-size: 107%;
  }

  /* CONTENT */
  .content_header {
    font-size: 4rem;
    line-height: 4.2rem;
    text-align: left;
  }
  main {
    display: flex;
    background-size: cover;
  }
  .p-info {
    margin: auto;
  }
  .card-info {
    margin:auto;
  }
  .info-header {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  .pay-head {
    padding-top: 0;
  }
  .content_cont {
    order: -1;
    width: 42vw;
    margin: 4rem 4rem 4rem 9rem;
  }
  .content_header {
    align-items: flex-start;
    margin: 0;
    width: 30vw;
  }
  label {
    font-size: 70%;
  }
  .button {
    padding: 0.8rem 0.7rem;
  }
  .text {
    font-size: 105%;
  }
  .confirm-payment {
    margin-top: 100%;
  }

  /* FOOTER */
  footer {
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 2fr 1fr;
    padding: 5% 8%;
    padding-bottom: 0;
    grid-column-gap: 2rem;
    margin: 0 auto;
  }
  footer .head {
    grid-area: 1/1/2/2;
    justify-self: start;
  }
  footer .contact {
    grid-area: 1/2/2/3;
    justify-self: end;
  }
  footer .follow {
    grid-area: 1/3/2/4;
    justify-self: center;
  }
  footer .learn {
    grid-area: 1/4/2/5;
    justify-self: start;
    align-self: center;
  }
  footer .hashtag {
    grid-area: 1/5/2/6;
  }
}

